.main {
    /* トップページのベース */
    background: rgb(230,226,226);
    background: linear-gradient(90deg, rgba(230,226,226,1) 25%
    , rgba(227,220,220,1) 51%, rgba(228,224,224,1) 76%);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.item {
    /* メニューを横並びにする */
    position: absolute;
    top: 20%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.moveTop {
    /* itemを画面一番上に移動する */
    transform: translateY(-60%);
    transition: all 0.5s;
}

.item span {
    /* 大きさを設定する */
    width: 300px;
    height: 300px;
    text-align: center;
    
    /* 中央寄せ */
    align-content: center;
    
    /* ボタンのようなデザインにする */
    padding: 3em 5em;
    box-shadow: 0 100px 0 rgb(181, 177, 177);
    border-radius: 60px;
    cursor: pointer;
    background-color: rgb(237, 228, 228);
    border: 1px solid gray;
    
    /* メニューの上下間隔を空ける */
    margin: 40px 0 40px 0;
}

.item span:hover {
    /* カーソルで凹ませる */
    transform: translateY(10px);
    background-color: rgb(214, 207, 207);
    transition: all 0.3s;
}

.item span h2 {
    font-size: 50px;
    display: block;
}

.changeColor {
    color: red;
}

.item span p {
    font-size: 15px;
    margin: 0 0 30px 0;
    display: block;
}

/* モバイル用のスタイル */
@media screen and (max-width: 900px) {
    /* overflowとfixed、abusoluteは同じ要素で設定しない */
    .main {
        overflow-y: scroll;
    }
    
    .item {
        /* メニューを縦並びにする */
        top: 0%;
        width: 100%;
        height: 250%;
        flex-direction: column;
        justify-content: start;
        transition: all 0.5s;
    }
    .item span {
        width: 300px;
        height: 150px;
        text-align: center;
        
        /* ボタンのようなデザインにする */
        box-shadow: 0 50px 0 rgb(181, 177, 177); 
        border-radius: 60px;
        cursor: pointer;
        background-color: rgb(237, 228, 228);
        border: 1px solid gray;
        padding: 0.5em 3em;
        
        /* メニューの間隔を空ける */
        margin: 40px 0 40px 0;
        padding: 50px 20px 50px 20px;
    }
    .item span h2 {
        font-size: 30px;
    }
    .item span p {
        font-size: 12px;
    }

    .moveTop {
        /* transform: translateY(0%); */
        transform: none;
    }
}